FLASK_ENV=production
SECRET_KEY=cambia-esta-clave
JWT_SECRET_KEY=cambia-esta-clave-jwt
DATABASE_URL=sqlite:///instance/autopercepcion.db
AUTO_CREATE_DB=false
FRONTEND_URL=http://localhost:4200
ADMIN_EMAILS=ander_frago@cuatrovientos.org,fernando_oscoz@cuatrovientos.org
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=autopercepcion-4vientos@gmail.com
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=autopercepcion-4vientos@gmail.com
